@{
    ViewData["Title"] = "About";
}

<div class="text-center">
@* this needs to be styled (size adjustment) *@
    <h1 class="display-4">This product uses the TMDB API but is not endorsed or certified by TMDB.</h1>
    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg">
</div>
